//COLORS
$color-primary-pink: #ba4270;
$color-primary-white: #fbfcfe;

$color-secondary-light-2: #36536b;
$color-secondary-light: #6c8294;
$color-secondary-normal: #36536b;
$color-secondary-dark: #1b262f;
$color-secondary-pink: #da6d97;

$color-background: #edf3f8;
