header {
  padding-top: 4rem;
}
.header {
  margin: 0 auto 8rem auto;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  @include respond(phone) {
    justify-content: space-between;
  }

  &__logo {
    margin-right: 6.4rem;

    @include respond(phone) {
      margin-right: 0;
    }
  }
}

.section-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 7.5rem;
  @include respond(tab-land) {
    flex-direction: column-reverse;
  }
}

.hero {
  &__box {
    max-width: 54.1rem;
    margin-right: 2rem;
    @include respond(tab-land) {
      margin-right: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__text {
    padding-left: calc(19.2rem - 16.5rem);
    font-weight: 200;
  }
  &__link,
  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid $color-secondary-light;
  }
  &__link:hover,
  &__link:active {
    border-bottom: 1px solid $color-secondary-light-2;
  }
}
